html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.fullscreen {
	height: 100%;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: left;
}

.header {
	height: 20%;
	width: 100%;
}

.buttonControl {
	height: 100%;
	width: 50%;
}

.playerInfo {
	height: 100%;
	width: 50%;
}

.gamefield {
	height: 80%;
	width: 100%;
}